body {
  font-family: Arial, sans-serif;
  background: #e6ecf0;
  padding: 20px;
}

.tweet-container {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 20px;
  padding: 10px;
  width: 550px;
  margin: auto;
  padding-top: 40px;
  position: relative; 
}

/* Header */
.tweet-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.close-tweet {
  border: 0px solid transparent; 
  border-radius: 50%; 
  width: 30px;
  height: 30px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: transparent;
}

.close-tweet:hover {
  background-color: rgba(151, 165, 173, 0.1); 
  border-color: rgba(151, 165, 173, 0.1);
}
.drafts {
  background: none;
  border: 0px solid transparent; 
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px; 
  min-width: 70px;
  text-align: center;
  font-weight: bold;
  color: #1da1f2;
  transition: background-color 0.3s, border-color 0.3s;
}

.drafts:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-color: rgba(29, 161, 242, 0.1); 
}

/* Body */
.tweet-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-container {
  display: flex;
  align-items: start;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
}


.profile-container {
  margin-right: 10px; 
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.tweet-text {
  border: none;
  flex-grow: 1;
  height: 100px;
  resize: none;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px; 
  height: calc(100px - 20px);
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  width: calc(100% - 20px); 
}

.image-preview {
  position: relative;
  width: 100px; 
  height: 100px;
  overflow: hidden; 
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

.delete-icon {
  position: absolute;
  top: 5px; 
  right: 5px; 
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Footer */
.tweet-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#mediaButton {
  font-size: 24px;
  cursor: pointer;
}

#tweetButton {
  background: #1da1f2;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
}

#mediaButton:hover,
#tweetButton:hover {
  opacity: 0.8;
}

#mediaButton:disabled {
  cursor: default;
}

.reply-settings {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.reply-permissions {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.3s;
  color: #1da1f2;;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.reply-permissions:hover {
  background-color: rgba(101, 119, 134, 0.1);
}


.globe-icon {
  width: 14px; 
  height: auto; 
  margin-right: 5px;
  vertical-align: middle;
  filter: invert(44%) sepia(85%) saturate(891%) hue-rotate(174deg) brightness(99%) contrast(91%);
}