body {
	font-family: Arial, sans-serif;
	background: #e6ecf0;
	padding: 20px;
}

.tweet-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: white;
	border-radius: 20px;
	padding: 10px;
	width: 580px;
	margin: auto;
	padding-top: 40px;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}

/* Header */
.tweet-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.close-tweet {
	border: 0px solid transparent;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: transparent;
}

.close-tweet:hover {
	background-color: rgba(151, 165, 173, 0.3);
}

.cross-icon {
	filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(59deg)
		brightness(89%) contrast(111%);
}
.drafts {
	background: none;
	border: 0px solid transparent;
	border-radius: 20px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	min-width: 70px;
	text-align: center;
	font-weight: bold;
	color: #1da1f2;
	transition: background-color 0.3s, border-color 0.3s;
}

.drafts:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

/* Body */
.tweet-body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.content-container {
	display: flex;
	align-items: start;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 30px;
}

.profile-container {
	margin-right: 10px;
}

.profile-pic {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
}

.tweet-text {
	border: none;
	flex-grow: 1;
	height: 100px;
	resize: none;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 10px;
	height: calc(100px - 20px);
	outline: none;
}

.image-preview-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
	width: calc(100% - 20px);
}

.image-preview {
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.image-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 50%;
	cursor: pointer;
}

/* Footer */
.tweet-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 0;
}

.reply-settings {
	border-bottom: 1px solid lightgrey;
	padding: 10px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.reply-permissions {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 8px 12px;
	transition: background-color 0.3s;
	color: #1da1f2;
	font-size: 14px;
	font-weight: bold;
	border-radius: 20px;
	display: flex;
	align-items: center;
}

.reply-permissions:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

.globe-icon {
	width: 14px;
	height: auto;
	margin-right: 5px;
	vertical-align: middle;
	filter: invert(48%) sepia(92%) saturate(476%) hue-rotate(162deg)
		brightness(80%) contrast(101%);
}

.icon-group {
	display: flex;
	gap: 3px;
}

.extra-icons-btn {
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, border-color 0.3s;
	background: transparent;
}

.extra-icons-btn:hover {
	background-color: rgba(29, 161, 242, 0.1);
}
.extra-icons {
	height: 18px;
	width: auto;
	filter: invert(48%) sepia(92%) saturate(476%) hue-rotate(162deg)
		brightness(80%) contrast(101%);
}

.post-group {
	display: flex;
	align-items: center;
	gap: 15px; /* Align to the left of tweetButton */
}

.progress-bar {
	border: 2px solid #ced9e28f;
	border-radius: 50%;
	padding: 12px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	transition: background-color 0.3s;
}

.add-icon-btn {
	border: 1px solid #8b9cabb1;
	border-radius: 50%;
	padding: 6px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	transition: background-color 0.3s;
	cursor: pointer;
}

.add-icon-btn:hover {
	background-color: rgba(29, 161, 242, 0.1); /* Hover effect */
}

.add-icon {
	width: 14px;
	height: auto;
	filter: invert(48%) sepia(92%) saturate(476%) hue-rotate(162deg)
		brightness(80%) contrast(101%);
}

.vertical-line {
	height: 32px;
	width: 1px;
	background-color: #8b9cabb1;
}
#tweetButton {
	background: #1da1f2;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#tweetButton:hover {
	opacity: 0.8;
}

#mediaButton:disabled {
	cursor: default;
}
