body {
	font-family: Arial, sans-serif;
	background: #e6ecf0;
	padding: 20px;
	transition: background-color 0.3s ease;
}

.container-wrapper {
	position: relative;
}
.tweet-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: white;
	border-radius: 20px;
	padding: 10px;
	width: 580px;
	margin: auto;
	margin-top: 50px;
	padding-top: 40px;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	transition: background-color 0.3s ease;
}

.mode-toggle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	width: 30px;
	height: 30px;
	top: 20px;
	right: 20px;
	padding: 20px 20px;
	border: 0px solid transparent;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.mode-icon {
	width: 30px;
	height: auto;
}

.mode-toggle:hover {
	background-color: rgba(151, 165, 173, 0.3);
}
body.dark-mode {
	background: #303030;
}

.tweet-container.dark-mode {
	background: black;
}

.tweet-text.dark-mode {
	background: black;
	color: white;
	caret-color: white;
	transition: background-color 0.3s ease;
}
/* Header */
.tweet-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.close-tweet {
	border: 0px solid transparent;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, border-color 0.3s;
	background-color: transparent;
}

.close-tweet:hover {
	background-color: rgba(151, 165, 173, 0.3);
}

.cross-icon {
	filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(59deg)
		brightness(89%) contrast(111%);
}
.drafts {
	background: none;
	border: 0px solid transparent;
	border-radius: 20px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	min-width: 70px;
	text-align: center;
	font-weight: bold;
	color: #1da1f2;
	transition: background-color 0.3s, border-color 0.3s;
}

.drafts:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

/* Body */
.tweet-body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.content-container {
	display: flex;
	align-items: start;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 30px;
}

.profile-container {
	margin-right: 10px;
}

.profile-pic {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
}

.tweet-text {
	border: none;
	flex-grow: 1;
	height: 100px;
	resize: none;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 10px;
	height: calc(100px - 20px);
	outline: none;
	overflow: hidden;
	transition: background-color 0.3s ease;
}

.image-preview-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
	width: calc(100% - 20px);
}

.image-preview {
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.image-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 50%;
	cursor: pointer;
}

/* Footer */
.tweet-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 0;
}

.reply-settings {
	border-bottom: 1px solid lightgrey;
	padding: 10px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.reply-permissions {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 8px 12px;
	transition: background-color 0.3s;
	color: #1d9bf0;
	font-size: 14px;
	font-weight: bold;
	border-radius: 20px;
	display: flex;
	align-items: center;
}

.reply-permissions:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

.globe-icon {
	width: 14px;
	height: auto;
	margin-right: 5px;
	vertical-align: middle;
	filter: invert(48%) sepia(92%) saturate(476%) hue-rotate(162deg)
		brightness(80%) contrast(101%);
}

.icon-group {
	display: flex;
	gap: 3px;
}

.img-icons-btn {
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, border-color 0.3s;
	background: transparent;
}

.img-icons-btn:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

.img-icons-btn.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.extra-icons-btn {
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, border-color 0.3s;
	background: transparent;
}

.extra-icons-btn:hover {
	background-color: rgba(29, 161, 242, 0.1);
}
.extra-icons {
	height: 18px;
	width: auto;
	filter: invert(48%) sepia(40%) saturate(2436%) hue-rotate(179deg)
		brightness(98%) contrast(91%);
}

.post-group {
	display: flex;
	align-items: center;
	gap: 15px;
}

.progress-bar {
	display: inline-block;
	vertical-align: middle;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.progress-bar-value {
	transition: stroke-dashoffset 0.3s;
	stroke: #1da1f2;
}

.progress-bar-text {
	font-size: 10px;
	fill: #333;
}

.add-icon-btn {
	border: 1px solid #8b9cabb1;
	border-radius: 50%;
	padding: 5px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	transition: background-color 0.3s;
	cursor: pointer;
	width: 26px;
	height: 26px;
}

.add-icon-btn:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

.add-icon {
	width: 13px;
	height: auto;
	filter: invert(48%) sepia(40%) saturate(2436%) hue-rotate(179deg)
		brightness(98%) contrast(91%);
}

.vertical-line {
	height: 32px;
	width: 1px;
	background-color: #8b9cabb1;
}
#tweet-button {
	background: #1d9bf0;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#tweet-button:disabled {
	opacity: 0.8;
	cursor: default;
}

#tweet-button:not(:disabled) {
	cursor: pointer;
}

#tweet-button:not(:disabled):hover {
	background-color: #178ad2;
}
