<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Feed Twitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="tweet-container">
    <div class="tweet-header">
      <button class="close-tweet">X</button>
      <div class="drafts-container">
        <button class="drafts">Drafts</button>
      </div>
    </div>
    <div class="tweet-body">
      <div class="profile-container">
        <img src="{{ url_for('static', filename='images/spennellata2.jpeg') }}" alt="Profile Picture" class="profile-pic">
      </div>
      <div class="tweet-input-container">
        <textarea id="tweetText" placeholder="What's happening?"></textarea>
        <div id="image-preview-container" class="image-preview-container">
          <!-- Image previews will be inserted here -->
        </div>
        <div class="tweet-options">
          <button id="mediaButton">📎</button>
          <input type="file" id="mediaInput" multiple hidden>
          <button id="tweetButton">Post</button>
        </div>
      </div>
    </div>
  </div>

    <script
    src="{{ url_for('static', filename='js/script.js') }}">
  </script>
</body>
</html>